<div id="books-index">
    <div class="row">
        <div class="col-md-3 col-sm-3">
             <h3>Agile Web Development</h3>
             <%= image_tag('covers/agile_web _development_with_rails_5.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
            </div>
             <div class="col-md-3 col-sm-3">
            <h3>Head First Design</h3>
             <%= image_tag('covers/head_first_design_patterns.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
            </div>
             <div class="col-md-3 col-sm-3">
              <h3>Head First Python</h3>
             <%= image_tag('covers/head_first _python.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
            </div>
             <div class="col-md-3 col-sm-3">
           <h3>Rails 4 in Action</h3>
             <%= image_tag('covers/rails_4_in_action.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>            
        </div> 
    </div>

     <div class="row">
        <div class="col-md-3 col-sm-3">
             <h3>Ruby on Rails Tutorial</h3>
             <%= image_tag('covers/ruby_on_rails_tutorial.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
            </div>
             <div class="col-md-3 col-sm-3">
            <h3>The Pragmatic Programmer</h3>
             <%= image_tag('covers/the_pragmatic_programmer.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
            </div>
             <div class="col-md-3 col-sm-3">
              <h3>The Nomadic Developer</h3>
             <%= image_tag('covers/the_nomadic_developer.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
            </div>
             <div class="col-md-3 col-sm-3">
           <h3>Ruby on Rails</h3>
             <%= image_tag('covers/ruby_on_rails_up_and_running.jpg')%>
             <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>            
        </div>  
</div>

